{{ if .Title }}
  {{$img := (resources.Get "images/logo.svg")}}
  <div class="mx-auto  flex justify-center">
    <img class="size-52" src="{{$img.Permalink}}" alt="Your Company" style="width: 300px;">
  </div>
  

  <div class="mx-auto mb-16 mt-9 max-w-screen-lg px-6 text-center">
    <h1 class="text-3xl font-semibold md:text-4xl">
    {{ if and (eq .Type "service-area") (eq .Kind "page") }}
    Real Estate Photography Services in {{.Title}}, {{.Params.State | default "PA"}}
    {{else}}
      {{.Title}}
    {{end}}
    </h1>
    {{ if .Params.Description }}
      <p class="mt-6 text-neutral-500 dark:text-neutral-400 md:text-lg">{{ .Params.Description }}</p>
    {{ else if eq .Type "service-area" }}
    <p class="mt-6 text-neutral-500 dark:text-neutral-400 md:text-lg">
      Get standout real estate presentations in {{.Title}}, PA with our expert services. We offer video tours, high-quality photos, realtor sign installations, and detailed floor plans. Transform your listings and leave a lasting impression on potential buyers. Explore our services for effective property marketing in {{.Title}}.
    </p>
    {{end}}
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="https://order.higleysdrones.com" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Book A Shoot</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Contact Us <span aria-hidden="true">→</span></a>
    </div>

  </div>
{{ end }}
